{{!-- Create Blog --}}
<div class="flex-center">
    <div class="create-blog">
        <h2 class="new-blog-title fa-2x">New Blog</h2>
        <form class="create-blog-form">
            <div class="blog-input">
                <label for="create-blog-title">Title: </label>
                <input id="create-blog-title" type="text"/>
            </div>
            <div class="blog-input">
                <label for="create-blog-content"></label>
                <textarea id="create-blog-content" type="text" placeholder="Content"/></textarea>
            </div>
            <button type="submit" class="create-blog-btn">Create</button>
        </form>
    </div>
</div>

<script src="/js/create-blog.js"></script>