{{!-- Login --}}
<div class="flex-center">
    <div class="login">
        <h2 class="box-title fa-2x">Login</h2>
        <form class="login-form">
            <div class="input-form">
                <label for="login-user">Username:</label>
                <input id="login-user" type="text"/>
            </div>
            <div class="input-form">
                <label for="login-pass">Password:</label>
                <input id="login-pass" type="password"/>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>