{{!-- Sign Up --}}
<div class="flex-center">
    <div class="signup">
        <h2 class="box-title fa-2x">Sign Up</h2>
        <form class="signup-form">
            <div class="input-form">
                <label for="signup-user">Username:</label>
                <input id="signup-user" type="text"/>
            </div>
            <div class="input-form">
                <label for="signup-pass">Password:</label>
                <input id="signup-pass" type="password"/>
            </div>
            <button type="submit" class="signup-btn">Create Account</button>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>